@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
    --font-playfair: "Playfair", "sans-serif"; 
    --color-gray:#71717A;
    --color-bgGray:#18181B1A;
  }


body{
    font-family: "Playfair", sans-serif;
}